html, body {
    background-color: #eee;
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

#username {
    width: 200px;
}

#main {
    position: relative;
    overflow: hidden;
}

#onError, #onError2 {
    display: none;
}


/* Game Board */

#gameBoard {
    display: none;
}

#blackPlayerName {
    color: #000000;
    background-color: #ffffff;
}

#whitePlayerName {
    color: #ffffff;
    background-color: #000000;
}

.borderless td, .borderless th {
    border: none;
}

#boardTitle {
    text-align: center;
}

#boardArea {
    height: 450px;
}

table {
    width: 100%;
    height: 100%;
    background: rgb(163,68,5);
    border-collapse: collapse;
}

table td {
    padding: 0;
    margin: 0;
}

.background-grid {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-color: transparent;
    border-width: 0;
    background-color: transparent;
}

.background-stone {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-color: transparent;
    border-width: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin : 0;
}

.cross-top-left {
    background-image: url('../images/intersection-bg-top-left.png');
}

.cross-top-center {
    background-image: url('../images/intersection-bg-top-center.png');
}

.cross-top-right {
    background-image: url('../images/intersection-bg-top-right.png');
}

.cross-center-left {
    background-image: url('../images/intersection-bg-center-left.png');
}

.cross-center-center {
    background-image: url('../images/intersection-bg-center-center.png');
}

.cross-center-right {
    background-image: url('../images/intersection-bg-center-right.png');
}

.cross-bottom-left {
    background-image: url('../images/intersection-bg-bottom-left.png');
}

.cross-bottom-center {
    background-image: url('../images/intersection-bg-bottom-center.png');
}

.cross-bottom-right {
    background-image: url('../images/intersection-bg-bottom-right.png');
}

.black-empty {
    background-image: none;
}

.black-empty-hover:hover {
    background-image: url('../images/blackstone.png');
    opacity: 0.5;
}

.white-empty {
    background-image: none;
}

.white-empty-hover:hover {
    background-image: url('../images/whitestone.png');
    opacity: 0.5;
}

.black-stone {
    background-image: url('../images/blackstone.png');
}

.black-stone-hover:hover {
    background-image: url('../images/blackstone-dead.png');
}

.white-stone {
    background-image: url('../images/whitestone.png');
}

.white-stone-hover:hover {
    background-image: url('../images/whitestone-dead.png');
}

.black-no-territory {
    background-image: none;
}

.black-no-territory-hover:hover {
    background-image: url('../images/black-territory.png');
    opacity: 0.5;
}

.white-no-territory {
    background-image: none;
}

.white-no-territory-hover:hover {
    background-image: url('../images/black-territory.png');
    opacity: 0.5;
}

.black-territory {
    background-image: url('../images/black-territory.png');
}

.black-territory-hover:hover {
    background-image: url('../images/black-territory-hover.png');
}

.white-territory {
    background-image: url('../images/white-territory.png');
}

.white-territory-hover:hover {
    background-image: url('../images/white-territory-hover.png');
}

.black-stone-dead {
    background-image: url('../images/blackstone-dead.png');
}

.black-stone-dead-hover:hover {
    background-image: url('../images/blackstone.png');
}

.white-stone-dead {
    background-image: url('../images/whitestone-dead.png');
}

.white-stone-dead-hover:hover {
    background-image: url('../images/whitestone.png');
}

/*td {
  width: 33.33%;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/

#statsTextArea {
    height: 100%;
    width: 100%;
}